<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand text-light" href="/">
        Loja Virtual
    </a>
    <button class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent" >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div    class="collapse navbar-collapse"
            id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="/">
                    Página Principal
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/admin/main/categoria">
                    Manutenção de categoria
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/admin/main/produto">
                    Manutenção de Produtos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/produtos/">
                    Comprar
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light"
                   href="/fale-conosco/">Fale Conosco</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light"
                   href="/ajuda/">Ajuda</a>
            </li>
            <li class="nav-item">
                {% with quantidade_itens=carrinho|length %}
                    {% if carrinho|length > 0 %}
                        Seu carrinho de compras:
                        <a class="nav-link text-light" href="{% url 'carrinho:detalhes_carrinho' %}">
                            {{ quantidade_itens }} produto{{ quantidade_itens|pluralize }} - R${{ carrinho.get_total_geral }}
                        </a>
                    {% else %}
                        Seu carrinho está vazio.
                    {% endif %}
                {% endwith %}
            </li>
        </ul>
    </div>
</nav>